<!-- views/partials/navigation.handlebars -->

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    {{#if loggedIn}}
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="#" id="logout">Logout ({{username}})</a></li>
    {{else}}
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
    {{/if}}
  </ul>
</nav>
